.neumorphic{
    background: beige; border-radius: 20px;
    box-shadow: 10px 10px 20px #663a3a, -10px -10px 20px #ffffff;
}
.neumorphic-inset{
    background: #e0e5ec; border-radius: 20px;
    box-shadow: 10px 10px 20px #a3b1c6, inset -10px -10px 20px #ffffff;
}
.neumorphic-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px; width:300px;
    text-align: center;
}